.body__container {
  display: grid;
  grid-template-columns:
    [start] repeat(12, [col-start] minmax(11px, 1fr) [col-end])
    [end];
  grid-template-rows: 90vh 60vw 90vh;
  /*  grid-area: 'header header header header header header header header '
    'box2 box2 box2 box2 box3 box3 box3 box3'; */
}
.header {
  grid-column: start / end;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('../img/hero.jpg');
  background-size: cover;
  object-fit: cover;
  background-position: top;
  display: flex;
  flex-direction: column;

  display: grid;
  grid-template-columns:
    [start] repeat(12, [col-start] minmax(11px, 1fr) [col-end])
    [end];
  grid-template-rows: 15vh 37vh 38vh;
  .title {
    grid-column: col-start 2 / col-end 8;
  }
  .button {
    grid-column: col-start 2 / col-end 6;
    align-self: center;
    justify-self: start;
  }
}

.motivation {
  &__picture {
    width: 50vw;
    height: 60vw;
    grid-column: start / col-end 6;
    background-color: $color-primary-blue;
    display: flex;
    justify-content: center;
    &--container {
      align-self: center;

      img {
        width: 30vw;
        /* transform: translate(8vw, 8vw); */
        position: absolute;
        z-index: 1;
      }
    }
    &--square {
      width: 30vw;
      height: 43vw;
      border: 2px solid $color-secundary;
      transform: translate(3vw, 3vw);
    }
  }
  &__content {
    grid-column: col-start 7 / end;
    display: flex;
    justify-content: center;
    &--container {
      width: 40vw;
      align-self: center;
      .title {
        margin-top: 0;
      }

      /* padding: 10vw 10vw 0 0; */
    }
    background-color: $color-primary-blue;
  }
}

@media screen and (max-width: 768px) {
  .header {
    .title {
      font-size: 9vw;
      transform: translateY(5rem);
    }
    .button {
      grid-column: col-start 2 / col-end 9;
      letter-spacing: 0.1rem;
      font-size: 3.5vw;
      padding: 2rem 4rem;
    }
  }
}

@media screen and (max-width: 460px) {
  //343
  .body__container {
    grid-template-rows: 90vh 80vh 80vh;
  }
  .motivation {
    &__picture {
      width: 100vw;
      height: 90vh;
      grid-column: start / end;
      background-color: $color-primary-blue;
      display: flex;
      justify-content: center;

      &--container {
        align-self: center;
        width: 70vw;
        height: 80vh;
        padding-top: 5vw;
        margin-left: -5vw;

        img {
          width: 70vw;
        }
      }
      &--square {
        width: 70vw;
        height: 100vw;
        border: 2px solid $color-secundary;
        transform: translate(5vw, 6vw);
      }
    }
    &__content {
      grid-column: start / end;
      &--container {
        width: 80vw;
        /*  padding: 10vw 10vw 0 0; */
        .title {
          font-size: 14vw;
          text-align: center;
        }
        .paragraph {
          font-size: 15px;
          line-height: 20px;
          text-align: center;
        }
        .subtitle {
          font-size: 30px;
          text-align: center;
        }
      }
      background-color: $color-primary-blue;
    }
  }
}
