.body__container {
  display: grid;
  grid-template-columns:
    [start] repeat(12, [col-start] minmax(11px, 1fr) [col-end])
    [end];
  grid-template-rows: 90vh 60vw 90vh;
  /*  grid-area: 'header header header header header header header header '
    'box2 box2 box2 box2 box3 box3 box3 box3'; */
}
.header {
  grid-column: start / end;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('../img/hero.jpg');
  background-size: cover;
  object-fit: cover;
  background-position: top;
  display: flex;
  flex-direction: column;

  display: grid;
  grid-template-columns:
    [start] repeat(12, [col-start] minmax(11px, 1fr) [col-end])
    [end];
  grid-template-rows: 15vh 37vh 38vh;
  .title {
    grid-column: col-start 2 / col-end 8;
  }
  .button {
    grid-column: col-start 2 / col-end 6;
    align-self: center;
    justify-self: start;
  }
}

.motivation {
  display: grid;
  padding: 4rem 0;
  grid-template-columns: 50% 50%;
  background-color: $color-primary-blue;
  &__picture {
    grid-column: 1 / 2;

    display: flex;
    justify-content: center;
    &--container {
      width: 40vw;
      align-self: center;
      transform: translateX(5vw);

      img {
        width: 30vw;
        position: absolute;
        z-index: 1;
      }
    }
    &--square {
      width: 30vw;
      height: 43vw;
      border: 2px solid $color-secundary;
      transform: translate(2vw, 3vw);
    }
  }
  &__content {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    &--container {
      width: 40vw;
      align-self: center;
      .title {
        margin-top: 0;
      }

      /* padding: 10vw 10vw 0 0; */
    }
  }
}
